.python-version
*.pyc
!data/.gitkeep
data/*
!intermediates/.gitkeep
intermediates/*
!models/.gitkeep
models/*
!results/.gitkeep
results/*
!log/.gitkeep
log/*
!tmp/.gitkeep
tmp/*
seq2seq.iml
.idea/*
pred.txt
multi-bleu.perl
*.pt
*.pyc
mosesdecoder/*
orig/*
iwslt14/*
